* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 95%;
  background-color: rgba(163, 214, 44, 0.774);
}
/*layout*/
header {
  position: relative;
  width: 100%;
  height: 40%;
}
main {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/*element*/

.math {
  margin-top: 2px;
  position: absolute;
  right: 0;
  width: 10rem;
  font-size: 0.9rem;
}

.reset {
  margin-top: 2px;
  position: absolute;
  left: 1%;
  background-color: #fff;
  width: 7rem;
  border-radius: 20rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

.try {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    rgba(81, 255, 0, 0.973),
    rgba(36, 36, 182, 0.7)
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.calculation {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
  font-size: 3rem;
  width: 28rem;
}

.answer {
  background-color: wheat;
  width: 20rem;
  height: 10rem;
  margin-bottom: 10px;
  color: rgb(141, 140, 140);
  text-align: center;
  font-size: 3rem;
  border: none;
}

.submit {
  width: 7rem;
  height: 4rem;
  cursor: pointer;
  text-align: center;
}

.message {
  font-size: 4rem;
}
.score {
  font-size: 3rem;
}

.answer-text {
  font-size: 2rem;
}


@media screen and (max-width: 603px) {
  .answer {
    width: 11rem;
  }
  .answer-text {
    font-size: 1.5rem;
  }

  .calculation {
    font-size: 2rem;
    text-align: center;
  }

  .message {
    font-size: 2.5rem;
  }

  .score {
    font-size: 2rem;
  }

  .try {
    font-size: 2rem;
  }
}
@media screen and (max-width: 321px) {
  .answer {
    width: 10rem;
  }
  .answer-text {
    font-size: 1.3rem;
  }

  .calculation {
    font-size: 1.5rem;
    text-align: center;
  }

  .message {
    font-size: 2rem;
  }

  .score {
    font-size: 1.5rem;
  }

  .try {
    font-size: 1.5rem;
  }
}


